{% extends 'base.html.twig' %}

{% block title %}New Artiste{% endblock %}

{% block body %}
    <h1>Create new Artiste</h1>

    {{ include('admin/artiste/_form.html.twig') }}

    <a class="btn btn-info" href="{{ path('artiste_index') }}">back to list</a>
{% endblock %}
